<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask User Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <h1>Welcome to the App</h1>
    <p>Select an action:</p>

    <a href="{{ url_for("password.login") }}" class="btn">Login</a>
    <a href="{{ url_for("password.register") }}" class="btn">Register</a>
    <a href="{{ url_for("main.index") }}" class="btn">2FA</a>
    <a href="{{ url_for("oauth.login") }}" class="btn">OAuth2</a>


</body>
</html>
